<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Employees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css"/>

</head>
<body>
        <div class="container">
            <h3>List Employees</h3>
            <hr/>
            <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-3">Add Employee</a>
            <table class="table table-bordered table-striped" id="employeeTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.name}"/>
                        <td th:text="${employee.email}"/>
                        <td th:text="${employee.department}"/>
                        <td>
                           <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>
                           <button th:attr="onclick=${'deleteEmployee('+  employee.id  + ')'}" class="btn btn-danger ml-2">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#employeeTable').DataTable();
            } );

            function deleteEmployee(employeeId){
                    Swal.fire({
                      title: 'Are you sure?',
                      text: "You won't be able to revert this!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                      if (result.isConfirmed) {
                          $.ajax({
                                type : "GET",
                                url : "/deleteEmployee",
                                data: {"employeeId" : employeeId},
                                contentType: "application/json",
                                dataType : 'json',
                                success: function (result) {
                                        Swal.fire(
                                          'Deleted!',
                                          'Your file has been deleted.',
                                          'success'
                                        );
                                        location.reload();
                                },
                                error: function (e) {
                                     Swal.fire(
                                          'Deleted!',
                                          'Your file has been deleted.',
                                          'success'
                                        );
                                        location.reload();
                                }
                            });

                      }
                    });

            }
        </script>
</body>
</html>